<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServeurDaoPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-mjgteaa:8080/ServeurDAO_Java/ServeurDao"
                binding="basicHttpBinding" bindingConfiguration="ServeurDaoPortBinding"
                contract="ServiceReference.ServeurDao" name="ServeurDaoPort" />
        </client>
    </system.serviceModel>
</configuration>